#button .containt-btn {
  width: 30%;
  padding: 15px 0;
  border-radius: 50px;
  font-size: 25px;
  text-transform: uppercase;
  font-weight: 600;
  border: none;
  background-color: aqua;
  transition: 0.5s;
}
#button .hoverEffect {
  background-color: red;
  color: white;
}
#button .containt-btn1 {
  width: 30%;
  padding: 15px 0;
  border-radius: 50px;
  font-size: 25px;
  text-transform: uppercase;
  font-weight: 600;
  border: none;
  background-color: red;
  transition: 0.5s;
}
#button .hoverEffect1 {
  background-color: aqua;
  color: white;
}
.btn {
  width: 30%;
  padding: 15px 0;
  border-radius: 50px;
  font-size: 25px;
  text-transform: uppercase;
  font-weight: 600;
  border: none;
  background-color: aqua;
  transition: 0.5s;
}
.btn:hover {
  background-color: red;
  color: white;
}
.btn1 {
  width: 30%;
  padding: 15px 0;
  border-radius: 50px;
  font-size: 25px;
  text-transform: uppercase;
  font-weight: 600;
  border: none;
  background-color: red;
  transition: 0.5s;
}
.btn1:hover {
  background-color: aqua;
  color: white;
}
